
body {
display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
   align-items: center;
    background-image: url(https://images.unsplash.com/photo-1523634921619-37ce98c1877f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1746&q=80);
height: 100vh;

}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}


#myForm {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: transparent;

}

#myForm input[type="text"],
#myForm input[type="number"],
#myForm button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

#myForm button {
    display: flex;
    flex: 0px;
    background-color: #00ff40;
    color:black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#myForm button:hover {
    background-color: #00ff40;
}


table {

    background-color: #fff;
    border-collapse: collapse;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #d32f2f;
}