body {
    font-family: Arial, sans-serif;
    background-color: #efebeb;
    margin: 0;
    padding: 0;
}

.gallery {
  

 
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Change to four columns */
    gap: 10px;
    width: 100%; 
    height: 80vh; 
    margin: 0; 
    padding: 0; 
    background-color: rgb(230, 203, 52);
    border: none; 
}

  
    
   



.gallery img {
    max-width: 100%;
    height: auto;
  ;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 245, 245, 0.7);
    z-index: 999;
}


.popup-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
h1{

    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(230, 250, 10);
}
body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: rgb(230, 203, 52);
        }

        .header {
            background-color: #080808;
            color: #f3ebeb;
            text-align: center;
            padding: 40px 0;
        }

        .header h1 {
            font-size: 3rem;
            margin: 0;
        }

        .header p {
            font-size: 1.2rem;
            margin: 20px 0;
        }